*{margin:0px;
padding:0px;}
    
body{background-color: #f4f4f4;
 font-size:18px;}
 
 .bclass{
     text-decoration-color: rgb(194, 60, 60);
     float:left;
     text-align:center;
     width:33.3%;
     border:1px solid #63ddd3;
     padding: 10px;
     box-sizing:border-box;
 }
 .box2{
    
    padding:20px;
    text-align: justify;
    margin-top: 0px;
    line-height:  1.6em;
 }

    .clr{
        clear;
    }
     
 
 .box-1{
     background-color:rgb(187, 9, 9);
     color:wheat;
    border: 5px rgb(238, 0, 0) solid;
    padding:20px;
    text-align: justify;
    margin-top: 0px;
    line-height:  1.6em;
    background-image:url(../5110068.png);
 }

 .box-1 h1{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:rgb(255, 0, 0);
     font-weight:800;
     font-style:italic;
     letter-spacing: 0.2em;

 }

a{
    text-decoration:non;
    color:black;
}
a:hover{color:red;}
 
#main-block{
    float

}
.box3{
    padding:10px;
    text-align:justify;
    margin: top 2px;px;
    line-height:1.6em;
 }
 .p-box{
     width:1340px;
     height:500px;
     border:5px solid rgb(87, 75, 75);
     margin-top:30px;
     background-image: url("../david.jpg");
     background-size: contain;
     background-size: cover;
     background-repeat: no-repeat;
     position:relative;
 }
 .p-box h1{
     position:absolute;
top: 40px;}
.p-box h2{
    position:absolute;
bottom: 40px;
right:100px;}
<br>